@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    margin:0;
    padding:0;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 9%;
    background-color: black;
    color: white;
    height: 10%;
}

header h2{
    flex:2
}

header nav{
    display: flex;
    justify-content: space-between;    
    flex:1;
    height: 100%;
    align-items: center;
}

header nav hr{
    height: 30%;
}

header nav a{
    transition: 0.3s;
}

header nav a i{
    display: inline-block;
    vertical-align: middle;
}

header nav a:hover{
    font-weight: 500;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

.selected{
    font-weight: bold;
    border-bottom: 2px solid white;
}

.searchbar{
    height: 40px;
    width: 300px;
    display: flex;
    border-radius:8px;
    overflow: hidden;
    border: 1px solid black;
}

.searchbar input{
    border-radius: 0;
    border: none;
    flex: 1;
}

.searchbar button{
    width: 40px;
    border-radius:0;
    border:none;
    border-left: 1px solid black;
}

.filter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.banner img{
    width: 100%;
}

.products{
    display: grid;
    grid-template-columns:repeat(auto-fill, 200px);
    gap:1px;
    row-gap: 20px;
    justify-content: space-between;

}

.products article{
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.products img{
    width: 100%
}

.pagination{
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    
}

.pagination button{
    width: 2.5rem;
    height: 2.5rem;
}

.signin{
    background-image: linear-gradient(135deg,#16A085,#F4D03F);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_card{
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    padding:20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.signin_card > h1 {
    align-self: center;
}

.signin_card > div{
    display: flex;
    height: 40px;
    margin-bottom: 12px;
    text-align: left;
}

.signin_card > div > label {
    flex:1;
    line-height: 30px;
}

.signin_card > div > input {
    flex:4;
    padding-left: 8px;
    border-radius: 4px;
}

.primary{
    width: 50%;
    height: 46px;
    align-self: center;
}

.div_social_button {
    display: flex;
    height: 40px;
    gap:40px

}

.div_social_button > button {
    flex:1;
}

.signin_card_footer{
    margin-top: auto;
    margin-bottom: 0;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.signin_card_footer > span {
    color:blue;
    font-weight: bold;
}

.signin_card_footer:hover {
    font-weight: bold;
    transition: 0.3s;
    border-bottom: 1px solid black;
}

.p_forgot_password{
    align-self: flex-end;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border-bottom: 1px solid black;
}

.p_forgot_password:hover {
    font-weight: bold;
    transition: 0.3s;
}